{
  "prefix": "~",
  "discordToken": "",
  "twitter_keys": {
    "consumer_key": "",
    "consumer_secret": "",
    "access_token_key": "",
    "access_token_secret": "",
    "bearer_token": ""
  },
  "guildRoles": [{
    "name": "",
    "roleId": ""
  }],
  "ownerId": "",
  "adminChannelId": ""
}
